
<div class="filter">
  <div class="ticker-title">
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
  </div>

      <div class="filtre" data-fitre-target = "listFiltre">



        <div data-action = "click->fitre#filter">
        <%= image_tag("Plante.png")%>
        </div>
        <%= image_tag("feu.png") %>
        <%= image_tag("Eau.png") %>
        <%= image_tag("Insecte.png") %>
        <%= image_tag("normal.png") %>
        <%= image_tag("Poison.png") %>
        <%= image_tag("Electrique.png") %>
        <%= image_tag("Sol.png") %>
        <%= image_tag("Fee.png") %>
        <%= image_tag("Combat.png") %>
        <%= image_tag("Psy.png") %>
        <%= image_tag("Spectre.png") %>
        <%= image_tag("Glace.png") %>
      </div>


</div>
