<h1 class= "titre-filter">filters by type</h1>
<div class="filtre">
  <%= image_tag("Plante.png") %>
  <%= image_tag("feu.png") %>
  <%= image_tag("Eau.png") %>
  <%= image_tag("Insecte.png") %>
  <%= image_tag("normal.png") %>
  <%= image_tag("Poison.png") %>
  <%= image_tag("Electrique.png") %>
  <%= image_tag("Sol.png") %>
  <%= image_tag("Fee.png") %>
  <%= image_tag("Combat.png") %>
  <%= image_tag("Psy.png") %>
  <%= image_tag("Spectre.png") %>
  <%= image_tag("Glace.png") %>
</div>
