
<div class="filter">
  <div class="ticker-title">
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
  </div>

      <div class="filtre" data-fitre-target = "listFiltre">

        <div class= "filtre-item plante" data-action = "click->fitre#plante">
          <%= image_tag("Plante.png")%>
        </div>

        <div class= "filtre-item fire" data-action = "click->fitre#feu">
          <%= image_tag("feu.png") %>
        </div>

        <div class= "filtre-item water" data-action = "click->fitre#eau">
          <%= image_tag("Eau.png") %>
        </div>

        <div class= "filtre-item bug" data-action = "click->fitre#insecte">
          <%= image_tag("Insecte.png") %>
        </div>

        <div class= "filtre-item normal1" data-action = "click->fitre#normal">
          <%= image_tag("normal.png") %>
        </div>

        <div class= "filtre-item poison1" data-action = "click->fitre#poison">
          <%= image_tag("Poison.png") %>
        </div>

        <div class= "filtre-item electric1" data-action = "click->fitre#electrique">
          <%= image_tag("Electrique.png") %>
        </div>

        <div class= "filtre-item ground1" data-action = "click->fitre#sol">
          <%= image_tag("Sol.png") %>
        </div>

        <div class= "filtre-item fairy" data-action = "click->fitre#fee">
          <%= image_tag("Fee.png") %>
        </div>

        <div class= "filtre-item fighting" data-action = "click->fitre#combat">
          <%= image_tag("Combat.png") %>
        </div>

        <div class= "filtre-item psychic" data-action = "click->fitre#psy">
          <%= image_tag("Psy.png") %>
        </div>

        <div class= "filtre-item ghost" data-action = "click->fitre#spectre">
          <%= image_tag("Spectre.png") %>
        </div>

        <div class= "filtre-item ice1" data-action = "click->fitre#glace">
          <%= image_tag("Glace.png") %>
        </div>
      </div>

      <div class= "btn-filtre" data-action = "click->fitre#all">
        <button class= " btn btn-f">All pokemon</button>
      </div>
</div>
