
<div class="filter">
  <div class="ticker-title">
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
    <span>filters by type</span>
  </div>

      <div class="filtre" data-fitre-target = "listFiltre">

        <div class= "filtre-item" data-action = "click->fitre#plante">
          <%= image_tag("Plante.png")%>
        </div>

        <div class= "filtre-item" data-action = "click->fitre#feu">
          <%= image_tag("feu.png") %>
        </div>

        <div class= "filtre-item" data-action = "click->fitre#eau">
          <%= image_tag("Eau.png") %>
        </div>

        <div class= "filtre-item" data-action = "click->fitre#insecte">
          <%= image_tag("Insecte.png") %>
        </div>

        <div class= "filtre-item" data-action = "click->fitre#normal">
          <%= image_tag("normal.png") %>
        </div>

        <div class= "filtre-item" data-action = "click->fitre#poison">
          <%= image_tag("Poison.png") %>
        </div>

        <div class= "filtre-item" data-action = "click->fitre#electrique">
          <%= image_tag("Electrique.png") %>
        </div>

        <div class= "filtre-item" data-action = "click->fitre#filter">
          <%= image_tag("Sol.png") %>
        </div>

        <div class= "filtre-item" data-action = "click->fitre#filter">
          <%= image_tag("Fee.png") %>
        </div>

        <div class= "filtre-item" data-action = "click->fitre#filter">
          <%= image_tag("Combat.png") %>
        </div>

        <div class= "filtre-item" data-action = "click->fitre#filter">
          <%= image_tag("Psy.png") %>
        </div>

        <div class= "filtre-item" data-action = "click->fitre#filter">
          <%= image_tag("Spectre.png") %>
        </div>

        <div class= "filtre-item" data-action = "click->fitre#filter">
          <%= image_tag("Glace.png") %>
        </div>
      </div>

      <div data-action = "click->fitre#all">
        <button>All pokemons</button>
      </div>
</div>
