
 <div data-refresh-list-target="list" data-fitre-target="results" class="list-d" >
    <div class="all" data-fitre-target="all">
      <% @pokemons.each do |pokemon| %>
        <div class="list-item">
          <%= link_to pokemon_path(pokemon), class:"list-name" do %>
            <%= image_tag("#{pokemon.sprites}") %>
            <div class="list-description">
              <p class="list-name"><%=pokemon.name%></p>
              <p class="list-order">No.<%=pokemon.order%></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="grass d-none"  data-fitre-target = "plante">
      <% @pokemons.each do |pokemon| %>
        <% if pokemon.types === Pokemon::TYPES[0] %>
          <div class="list-item">
          <%= link_to pokemon_path(pokemon), class:"list-name" do %>
            <%= image_tag("#{pokemon.sprites}") %>
            <div class="list-description">
              <p class="list-name"><%=pokemon.name%></p>
              <p class="list-order">No.<%=pokemon.order%></p>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="fire d-none"  data-fitre-target = "feu">
      <% @pokemons.each do |pokemon| %>
        <% if pokemon.types === Pokemon::TYPES[1] %>
          <div class="list-item">
          <%= link_to pokemon_path(pokemon), class:"list-name" do %>
            <%= image_tag("#{pokemon.sprites}") %>
            <div class="list-description">
              <p class="list-name"><%=pokemon.name%></p>
              <p class="list-order">No.<%=pokemon.order%></p>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="water d-none"  data-fitre-target = "eau">
      <% @pokemons.each do |pokemon| %>
        <% if pokemon.types === Pokemon::TYPES[2] %>
          <div class="list-item">
          <%= link_to pokemon_path(pokemon), class:"list-name" do %>
            <%= image_tag("#{pokemon.sprites}") %>
            <div class="list-description">
              <p class="list-name"><%=pokemon.name%></p>
              <p class="list-order">No.<%=pokemon.order%></p>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="bug d-none"  data-fitre-target = "insecte">
      <% @pokemons.each do |pokemon| %>
        <% if pokemon.types === Pokemon::TYPES[3] %>
          <div class="list-item">
          <%= link_to pokemon_path(pokemon), class:"list-name" do %>
            <%= image_tag("#{pokemon.sprites}") %>
            <div class="list-description">
              <p class="list-name"><%=pokemon.name%></p>
              <p class="list-order">No.<%=pokemon.order%></p>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="normal d-none"  data-fitre-target = "normal">
      <% @pokemons.each do |pokemon| %>
        <% if pokemon.types === Pokemon::TYPES[4] %>
          <div class="list-item">
          <%= link_to pokemon_path(pokemon), class:"list-name" do %>
            <%= image_tag("#{pokemon.sprites}") %>
            <div class="list-description">
              <p class="list-name"><%=pokemon.name%></p>
              <p class="list-order">No.<%=pokemon.order%></p>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="poison d-none"  data-fitre-target = "poison">
      <% @pokemons.each do |pokemon| %>
        <% if pokemon.types === Pokemon::TYPES[5] %>
          <div class="list-item">
          <%= link_to pokemon_path(pokemon), class:"list-name" do %>
            <%= image_tag("#{pokemon.sprites}") %>
            <div class="list-description">
              <p class="list-name"><%=pokemon.name%></p>
              <p class="list-order">No.<%=pokemon.order%></p>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="electric d-none"  data-fitre-target = "electrique">
      <% @pokemons.each do |pokemon| %>
        <% if pokemon.types === Pokemon::TYPES[6] %>
          <div class="list-item">
          <%= link_to pokemon_path(pokemon), class:"list-name" do %>
            <%= image_tag("#{pokemon.sprites}") %>
            <div class="list-description">
              <p class="list-name"><%=pokemon.name%></p>
              <p class="list-order">No.<%=pokemon.order%></p>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="ground d-none"  data-fitre-target = "sol">
      <% @pokemons.each do |pokemon| %>
        <% if pokemon.types === Pokemon::TYPES[7] %>
          <div class="list-item">
          <%= link_to pokemon_path(pokemon), class:"list-name" do %>
            <%= image_tag("#{pokemon.sprites}") %>
            <div class="list-description">
              <p class="list-name"><%=pokemon.name%></p>
              <p class="list-order">No.<%=pokemon.order%></p>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="fairy d-none"  data-fitre-target = "fee">
      <% @pokemons.each do |pokemon| %>
        <% if pokemon.types === Pokemon::TYPES[8] %>
          <div class="list-item">
          <%= link_to pokemon_path(pokemon), class:"list-name" do %>
            <%= image_tag("#{pokemon.sprites}") %>
            <div class="list-description">
              <p class="list-name"><%=pokemon.name%></p>
              <p class="list-order">No.<%=pokemon.order%></p>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="fighting d-none"  data-fitre-target = "combat">
      <% @pokemons.each do |pokemon| %>
        <% if pokemon.types === Pokemon::TYPES[9] %>
          <div class="list-item">
          <%= link_to pokemon_path(pokemon), class:"list-name" do %>
            <%= image_tag("#{pokemon.sprites}") %>
            <div class="list-description">
              <p class="list-name"><%=pokemon.name%></p>
              <p class="list-order">No.<%=pokemon.order%></p>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="psychic d-none"  data-fitre-target = "psy">
      <% @pokemons.each do |pokemon| %>
        <% if pokemon.types === Pokemon::TYPES[10] %>
          <div class="list-item">
          <%= link_to pokemon_path(pokemon), class:"list-name" do %>
            <%= image_tag("#{pokemon.sprites}") %>
            <div class="list-description">
              <p class="list-name"><%=pokemon.name%></p>
              <p class="list-order">No.<%=pokemon.order%></p>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="ghost d-none"  data-fitre-target = "spectre">
      <% @pokemons.each do |pokemon| %>
        <% if pokemon.types === Pokemon::TYPES[11] %>
          <div class="list-item">
          <%= link_to pokemon_path(pokemon), class:"list-name" do %>
            <%= image_tag("#{pokemon.sprites}") %>
            <div class="list-description">
              <p class="list-name"><%=pokemon.name%></p>
              <p class="list-order">No.<%=pokemon.order%></p>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>

    <div class="ice d-none"  data-fitre-target = "glace">
      <% @pokemons.each do |pokemon| %>
        <% if pokemon.types === Pokemon::TYPES[12] %>
          <div class="list-item">
          <%= link_to pokemon_path(pokemon), class:"list-name" do %>
            <%= image_tag("#{pokemon.sprites}") %>
            <div class="list-description">
              <p class="list-name"><%=pokemon.name%></p>
              <p class="list-order">No.<%=pokemon.order%></p>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
