
<%= render "shared/banner" %>
<%# <%= render "shared/search" %>

<div class="list-aside">
  <div class="aside">
    <%= render "shared/aside" %>
  </div>

  <div class="list">
    <% @pokemons.sort.each do |pokemon| %>
      <div class="list-item">
        <%= image_tag("#{pokemon.sprites}", height: 100, width: 150) %>
        <div class="list-description">
          <%= link_to pokemon_path(pokemon), class:"list-name" do %><%= pokemon.name %>
          <% end %>
          <p class="list-order">No.<%=pokemon.order%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
