
<div class="poke-show">
  <div class="img-name">
    <%= link_to pokemons_path do %><i class="fa-solid fa-arrow-left fa-return"> Return pokedex</i><% end%>
    <p class="name"><%= @pokemon.name.upcase %></p>

    <% if @pokemon.types == "grass" %>
      <div id="card" class="container-img vert">
    <% elsif @pokemon.types == "fire" %>
      <div id="card" class="container-img rouge">
    <% elsif @pokemon.types == "water" %>
      <div id="card" class="container-img bleu">
    <% elsif @pokemon.types == "bug" %>
      <div id="card" class="container-img insecte">
    <% elsif @pokemon.types == "normal" %>
      <div id="card" class="container-img normal">
    <% elsif @pokemon.types == "poison" %>
      <div id="card" class="container-img poison">
    <% elsif @pokemon.types == "electric" %>
      <div id="card" class="container-img electric">
    <% elsif @pokemon.types == "ground" %>
      <div id="card" class="container-img ground">
    <% elsif @pokemon.types == "fairy" %>
      <div id="card" class="container-img fée">
    <% elsif @pokemon.types == "fighting" %>
      <div id="card" class="container-img combat">
    <% elsif @pokemon.types == "psychic" %>
      <div id="card" class="container-img psy">
    <% elsif @pokemon.types == "ghost" %>
      <div id="card" class="container-img spectre">
    <% elsif @pokemon.types == "ice" %>
      <div id="card" class="container-img ice">
    <% else %>
      <div id="card" class="container-img">
    <% end %>

        <%= image_tag("#{@pokemon.sprites}") %>
    </div>
  </div>

  <div class="d-t">
    <div class="description">
      <div class="d-description weight">
        <%= image_tag("poids.png") %>
        <p><strong>Weight</strong><br><%= @pokemon.weight %> g</p>
      </div>
      <div class="d-description height">
        <%= image_tag("taille.png") %>
        <p><strong>Height</strong> <br> <%= @pokemon.height %> m</p>
      </div>
      <div class="d-description order">
        <%= image_tag("N.png") %>
        <p><strong>Order</strong> <br> <%= @pokemon.order %></p>
      </div>
      <div class="d-description types">

        <% if @pokemon.types == "grass" %>
          <%= image_tag("Plante.png") %>
        <% elsif @pokemon.types == "fire" %>
          <%= image_tag("feu.png") %>
        <% elsif @pokemon.types == "water" %>
          <%= image_tag("Eau.png") %>
        <% elsif @pokemon.types == "bug" %>
          <%= image_tag("Insecte.png") %>
        <% elsif @pokemon.types == "normal" %>
          <%= image_tag("noraml.png") %>
        <% elsif @pokemon.types == "poison" %>
          <%= image_tag("Poison.png") %>
        <% elsif @pokemon.types == "electric" %>
          <%= image_tag("Electrique.png") %>
        <% elsif @pokemon.types == "ground" %>
          <%= image_tag("Sol.png") %>
        <% elsif @pokemon.types == "fairy" %>
          <%= image_tag("Fee.png") %>
        <% elsif @pokemon.types == "fighting" %>
          <%= image_tag("Combat.png") %>
        <% elsif @pokemon.types == "psychic" %>
          <%= image_tag("Psy.png") %>
        <% elsif @pokemon.types == "ghost" %>
          <%= image_tag("Spectre.png") %>
        <% elsif @pokemon.types == "ice" %>
          <%= image_tag("Glace.png") %>
        <% else %>
          <%= image_tag("normal.png") %>
        <% end %>













        <p><strong>Types</strong> <br> <%= @pokemon.types %></p>
      </div>
    </div>
  </div>

  <%# <% if @pokemon.types == "grass" %>
    <%# <div class="barre vert"></div> %>
  <%# <% elsif @pokemon.types == "fire" %>
    <%# <div class="barre rouge"></div> %>
  <%# <% elsif @pokemon.types == "water" %>
    <%# <div class="barre bleu"></div> %>
  <%# <% elsif @pokemon.types == "bug" %>
    <%# <div class="barre insecte"></div> %>
  <%# <% elsif @pokemon.types == "normal" %>
    <%# <div class="barre normal"></div> %>
  <%# <% elsif @pokemon.types == "poison" %>
    <%# <div class="barre poison"></div> %>
  <%# <% elsif @pokemon.types == "electric" %>
    <%# <div class="barre electric"></div> %>
  <%# <% elsif @pokemon.types == "ground" %>
    <%# <div class="barre ground"></div> %>
  <%# <% elsif @pokemon.types == "fairy" %>
    <%# <div class="barre fée"></div> %>
  <%# <% elsif @pokemon.types == "fighting" %>
    <%# <div class="barre combat"></div> %>
  <%# <% elsif @pokemon.types == "psychic" %>
    <%# <div class="barre psy"></div> %>
  <%# <% elsif @pokemon.types == "ghost" %>
    <%# <div class="barre spectre"></div> %>
  <%# <% elsif @pokemon.types == "ice" %>
    <%# <div class="barre ice"></div> %>
  <%# <% else %>
      <%# <div class="barre"> %>
  <%# <% end %>

</div>
