
<div class="poke-show">
<%= link_to pokemons_path do %><i class="fa-solid fa-arrow-left fa-return"> Return pokedex</i><% end%>

  <div class="desc-img">
    <div class="description-show">
        <p class="name"><%= @pokemon.name.upcase %></p>
      <div class="description_show-pokemon">
        <p class="d-description"> <strong>Weight:</strong> <br> <%= @pokemon.weight %> g</p>
        <p class="d-description"><strong>Height:</strong> <br> <%= @pokemon.height %> m</p>
        <p class="d-description"><strong>Order:</strong> <br> <%= @pokemon.order %></p>
        <p class="d-description"><strong>Types:</strong> <br> <%= @pokemon.types %></p>
      </div>

    </div>

      <div id="card" class="container-img">
        <div class="img-show-pokemon">
          <%= image_tag("#{@pokemon.sprites}") %>
        </div>
      </div>
  </div>
</div>
